<p id="notice"><%= notice %></p>


<p>
  <strong>Firstname:</strong>
  <%= @profile.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @profile.mobile %>
</p>
<!--
<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>
-->

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', home_path%>
