  <body>
  <h1>About us</h1>
  <div class="aboutcontainer">
  </br>
  <div class = "img">
  <%=image_tag("about_banner.png", alt: "Wine Image")%>
  </div>
  </br>
<p>
<b>Home Page Article</b>
Worldwide off-license onine - Your Premier Online off-license is an online liquor store with a wide selection of alcoholic beverages to choose from. We carry everything from exquisite wines, champagne and spirits to specialty beer and gift baskets - all delivered to you at affordable prices. We also offer drive-in pick up as a quick and convenient option for our local customers. x makes it easier than ever to buy alcohol online, so check out our huge selection today!
</br></br><b>Something for Every Occasion</b>
Life is full of reasons to celebrate, and Worldwide Wine & Spirit has something for every occasion. Whether you need a full spread of alcohol for a big party or just a couple bottles of wine for relaxing at home, we make it easy for you to buy liquor online. By taking our store online, we are able to offer you much more variety than you’ll find at your local store. We carry both imported and domestic beverages in our online alcohol store so you can find all of your favorite specialty drinks without the hassle of driving around from store to store to find them. With hundreds of brands to choose from, you’ll find all of your favorite wine, beer, spirits and more from all over the world in our online liquor store. Worldwide Wine & Spirits is your passport to a world of good taste!
Unsure of what to go with? Not an issue. World Wine & Spirits provides accurate knowledge of tastes and mixture to best fit your taste preference. From our weekly emails and specials to our active industry blog, why go to the store? We give you access to the latest and greatest all at your finger tips! Making the choice to buy alcohol online has never been easier.
</br></br><b>Worldwide Wine & Spirits’ Commitment to Excellent Service</b>
As one of the premier destinations to buy liquor online, we pride ourselves in the quality of service we offer our customers. We want you to get the most value out of your purchase when you order alcohol online, which is why we are committed to providing you with great products from our online alcohol store at excellent prices. Worldwide Wine & Spirits is also the first liquor store online to offer drive-in pickup. Stop in and see our wonderful store or check out our selection and services online and let us know if you have any questions - our expert staff is available to assist you!
</p>
</div>
</body>