<h1>Contact Us</h1>
  <div class="aboutcontainer">
  </br>
  <div class = "img">
<%=image_tag("contactus.jpg", alt: "Example Image")%>
</div>
</br>
<p>Want to know more about our services or products? Our friendly and knowledgeable staff is here to answer any questions or provide recommendations for you. We can also here to respond to any other inquiries you may have regarding a transaction or delivery status. Call us at (860) 276-5801 or click one of the links below to send an email and someone will respond to you shortly!
</br></br>
<b>Visit us in-store!</b></br>
Want to come in a see our amazing collection for yourself? We’d love to see you! At Off-license.com, we place value in getting to know our customers. Stop in and see our wonderful store, meet the staff, and browse our full collection of wine, beer, and liquor.  We also offer 
drive-in and pick-up service. We are located at IFSC, Dublin, Ireland.</p>
</div>