  <body>

  <div class="aboutcontainer">
  </br>
  <div class = "imgpurhcase">
  <%=image_tag("purchasebanner.png", alt: "Thankyou Image")%>
  </div>
  </br>
<p>
<b>Your Order</b>
Your order is ready for collection at your local onLicense store. Please make sure your bring your ID with you so that we can verify that</b>
you are who you say you are. It is illegal to purchase alcohol if you are under the age of 18 years old. It is also prohibited to purchase</b>
alcohol on onLicense.com for under age people. 
</br></br><b>Drink Alcohol Responsibly</b>
The amount you can drink without increasing risk of harm to your health depends on your age, sex, weight and various other factors. Simple </b>
things like whether you have eaten or how much you have slept recently can also affect how your body reacts to alcohol. Of course there are times when it makes sense not to drink at all.</b>
As one of the premier destinations to buy liquor online, we pride ourselves in the quality of service we offer our customers. We want you to get the most value out of your purchase when </b>
you order alcohol online, which is why we are committed to providing you with great products from our online alcohol store at excellent prices. Worldwide Wine & Spirits is also the first </b>
liquor store online to offer drive-in pickup. Stop in and see our wonderful store or check out our selection and services online and let us know if you have any questions - our expert staff </b>
is available to assist you!
</p>

</div>
</body>