<!DOCTYPE html>
<html>
<head>
<title>OnLicense</title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %> <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<link href="css/bootstrap.min.css" rel="stylesheet">
</head> <body>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  
     <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>
                <a class="navbar-brand" href="/home">OnLicense</a>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/users/sign_in">Login</a>
                    </li>
                  <!--  <li>
                        <a href="/users/sign_out">Logout</a>
                    </li> this button and other original logout buttons that were implemneted in the early stages of dev were
                    removed as 'sign out' functionality was implemented when the Devise gem was utilised-->
                    <li>
                        <a href="/users/sign_up">Sign Up</a>
                    </li>
                    
                   
                </ul>
                
                <div class="navbar-form navbar-right">
                <div class="input-group">
                <%= form_tag(items_path, :method => "get", id: "search-form", html: {class: 'form-group'}) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Items", class: "form-control" %>
        <span class="input-group-btn">
      <%= submit_tag "Search", :class => 'btn btn-default',:name => nil%>
        <span class="glyphicon glyphicon-search"></span>
                    </span>
<% end %>
</div>
</div>

                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
        
    </nav>
<div id='header'>
<!-- Header Image Displayes here -->
</div>
<div id='menu'>
<div id="navbar">
  <ul>
   <li><a href = "/home">Home</a></li>
  <li><a href = "/items">Products</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact Us</a></li>
  <li><a href="/users/sign_in">Login</a></li>
  <!--<li><a href="/users/sign_out">Logout</a></li>-->
   </ul>
   </div>
</div>

    
<div id='container'>
 
<div id='content'>
<p class="notice"><%= flash[:notice] %></p> 


<%= yield %>


<% if user_signed_in? %>
<%= image_tag current_user.gravatar_url %>
<div>Welcome to Onlicense <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete
%>)</div> <% else %>
<%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %> <% end %>


</div> <!--This section is the main content body-->
<!--<div id='first-column'> <div class="loginbox">
<h2 class="BoxHeaders">Login Here....</h2> </div>
<div class="searchbox">
<h2 class="BoxHeaders">Search Catalog</h2>
</div> </div>
</div>-->
<div id='footer'>
<h6 class="footertext">&copy; Onlicense &trade; 2015</h6> </div>

      <!--Rails.env.development? is true only in a development environment, so the embedded <Ruby-></Ruby>

    </div> -->
</body> </html>